version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: deokhugam-app
    env_file:
      - .env
    environment:
      TZ: ${TZ}
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      AWS_S3_ACCESS_KEY: ${AWS_S3_ACCESS_KEY}
      AWS_S3_SECRET_KEY: ${AWS_S3_SECRET_KEY}
      AWS_S3_REGION: ${AWS_S3_REGION}
      AWS_S3_BUCKET: ${AWS_S3_BUCKET}
      CDN_URL: ${CDN_URL}
      NAVER_CLIENT_ID: ${NAVER_CLIENT_ID}
      NAVER_CLIENT_SECRET: ${NAVER_CLIENT_SECRET}
      NCP_INVOKE_URL: ${NCP_INVOKE_URL}
      NCP_CLIENT_SECRET: ${NCP_CLIENT_SECRET}
      JVM_OPTS: ${JVM_OPTS}
    ports:
      - "80:80"