# docker-compose-local.yml
version: "3.9"

services:
  db:
    image: postgres:17.6
    container_name: deokhugam-db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - LANG=C.UTF-8
      - LC_ALL=C.UTF-8
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-dev}
    volumes:
      - ./src/main/resources/schema.local.sql:/docker-entrypoint-initdb.d/schema.local.sql
      - postgres-data:/var/lib/postgresql/data
    networks:
      - deokhugam-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5435:5432"
  app:
    image: deokhugam:local
    build:
      context: .
      dockerfile: Dockerfile
    container_name: deokhugam-app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    environment:
      TZ: ${TZ}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      AWS_S3_ACCESS_KEY: ${AWS_S3_ACCESS_KEY}
      AWS_S3_SECRET_KEY: ${AWS_S3_SECRET_KEY}
      AWS_S3_REGION: ${AWS_S3_REGION}
      AWS_S3_BUCKET: ${AWS_S3_BUCKET}
      CDN_URL: ${CDN_URL}
      NAVER_CLIENT_ID: ${NAVER_CLIENT_ID}
      NAVER_CLIENT_SECRET: ${NAVER_CLIENT_SECRET}
      NCP_INVOKE_URL: ${NCP_INVOKE_URL}
      NCP_CLIENT_SECRET: ${NCP_CLIENT_SECRET}
      FILE_UPLOAD_DIR: ${FILE_UPLOAD_DIR}
    ports:
      - "80:8080"
    volumes:
      - ./uploads:/app/uploads
    networks:
      - deokhugam-network


volumes:
  postgres-data:

networks:
  deokhugam-network:
    driver: bridge